.images-container {
    width: 90%;
    text-align: center;
    margin: 60px auto 60px;
  }
  .container-enlarge {
      display: inline-block;
      position: relative;
      z-index: 0;
      margin: 15px;
  }
  .container-enlarge > img {
      height: auto;
      max-width: 100%;
      width: 150px;
      border-radius: 5px;
  }
  .container-enlarge span {
      position: absolute;
      top: -9999em;
      left: -9999em;
  }
  .container-enlarge:hover span {
      top: -320px;
      left: -75px;
      width: 300px;
  }
  
  body {
    background-color: #eff7f2;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    margin: 30px 15px;
  }
  .zoom-area { 
    max-width: 290px;
    margin: 50px auto 80px;
    font-size: 19px;
    color: #999;
  }
 
 