<h1>{{title}}</h1>
<p class="zoom-area">{{descripcion}}</p>
<div class="images-container">
  <div class="container-enlarge">
    <img src="{{img+2}}">
    <span><img src="{{img+2}}"></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+3}}">
    <span><img src="{{img+3}}"></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+4}}">
    <span><img src="{{img+4}}"></span>
  </div>
  <div class="container-enlarge">
    <img src="{{img+5}}">
    <span><img src="{{img+5}}"></span>
  </div>
</div>
