
<div class="slider">
 <ul>
    <li>
        <li>
            <img src="https://res.cloudinary.com/dream-music/image/upload/v1631760083/album_15/aguant_xrnbeo.jpg" alt="">
            </li>
                    <li>
            <img src="https://res.cloudinary.com/dream-music/image/upload/v1633405638/album_16/akwidad_tzbmvf.jpg" alt="">
            </li>
                    <li>
            <img src="https://res.cloudinary.com/dream-music/image/upload/v1633405636/album_16/whowhoyou_gdfkdi.jpg" alt="">
            </li>
                    <li>
            <img src="https://res.cloudinary.com/dream-music/image/upload/v1633405633/album_16/whoface_yyqota.jpg" alt="">
            </li>
 </ul>
</div>
